doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Power Spirit
    link(rel="stylesheet", href="/static/style.css")

  body
    div.power
      .logo 
        img(src="/static/power.png", alt="", srcset="" , width="37")
        strong POWER SPIRIT
        span#user-count-number 0
    #messages
    
    #form-container
      .juste_aligner
       input#username-input(placeholder="Votre nom" required autocomplete="off")
       a#lien(href="/file")  Historique
      #upload-status.upload-progress
      form#form
        input#input(placeholder="Message..." required autocomplete="off")
        button.btn#file-btn(type="button" title="Joindre un fichier")
          | 📎
        button.btn#send-btn(type="submit" title="Envoyer")
          | ➤
      input#file-input(type="file" accept="image/*,application/pdf,.doc,.docx,.txt" enctype="multipart/form-data")

    script(src="/socket.io/socket.io.js")
    script(src="/static/index.js")