body{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.gauche{
    height: 98vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}
.droite{
    height: 98vh;
    width: 85%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-bottom: 4rem;
}
.logo strong{
    font-size: 1.3rem;
}
.chat{
    height:200vh;
    width: 95%;
    overflow-y: scroll;
    border: 1px solid;
    padding: .5rem;
}
.textr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-size: 17px;
}
.textl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 17px;
}
.sender{
    max-width: 30%;
    border: 1px solid;
    border-bottom: none;
    padding: .3rem;
    background: rgb(1, 15, 44);
    color: gainsboro;
}
.file{
    max-width: 30%;
    border: 1px solid;
    border-top: none;
    padding: .3rem;
    background: gainsboro;
    margin-bottom: 1rem;
}
ul,ol{
 margin-left: -4rem;
}
.send_texte{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: .5rem; 
}
.send{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
    width: 95%;
}
.send input {
    width: 75%;
    padding: .5rem;
    font-size: 15px;
}
.user{
    gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user button{
    width: 37px;
    height: 37px;
    border-radius: 50rem;
}